@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: var(--font1);
    font-weight: bold;
    scroll-behavior: smooth;
}
p{
    font-weight: lighter;
    font-style: italic;
}
h1{
    text-transform: uppercase;
}
/* body{
    display: block;
} */
/* cores utilizadas */
:root{
    --cor1: #2BB7D7;
    --cor2: #266F80;
    --cor3: #000000;
    --cor4: #FAFAFA;
    --cor5: #fff;

    --font1: "Source Sans 3", "sans-serif";

}

/* nav */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor4);
    color: var(--cor3);
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 15px;
    border: 1px solid black;
    box-shadow: 0px 2px 3px black;
    text-transform: uppercase;
    font-size: 15px;
    /* overflow-x: hidden; */
    
}
div.navegar{
    display: flex;
    align-items: center;
    /* width: 100%; */
}
div.navegar a{
    margin: 30px;
    text-decoration: none;
    color: var(--cor3);

}
div.img-perfil{
    display:flex;
    align-items: center;
    cursor: pointer;
}
div.img-perfil img{
    height: 60px;
    padding: 10px;
    margin: 0px 0px 0px 50px;
    border-radius: 50%;
}
/* menu burguer bar */

div.menu-bar{
    display: none;
}
div.menu-bar i{
    font-size: 25px;
    padding-right:30px;
}

/* Home */
div.inicio{
    margin-top:85px ;
    background-image: url(../img/background-white.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
   
   
}
div.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0.5px 0.5px 3.5px black;
}
div.redes-sociais a{
    margin: 10px;
}
div.redes-sociais a img:hover{
    background-color:#2bb7d74e;
    border-radius: 3px;

}
div.redes-sociais a img{
    height: 30px;
}
div.eu{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
div.eu h1{
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 15px;
    text-align: center;
}
div.eu p{
    font-size: 20px;
    text-align: center;
    width: 70%;
}
div.button-projetos{
    margin-top: 50px;
    text-align: center;
    color: var(--cor4);
    background-color: var(--cor2);
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}
div.button-projetos:hover{
    opacity: 0.7;
    transition: 0.2s;
}

/* Sobre Mim */

div.about{
    background-color: var(--cor4);
    padding-top: 9em;
    padding-bottom: 150px;
    
}
div.about-me {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
div.traco{
    border: 2px solid var(--cor2);
    border-radius: 2px;
    width: 50px;
    margin: 30px;
}
div.about-me p{
    margin-bottom: 50px;
    width: 40%;

}
div.bio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
div.conhecer{
    width: 550px;
}
div.conhecer p{
    font-weight: lighter;
    margin-top: 20px;
    text-align: justify;
}
div.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.skills h2{
    margin-bottom: 20px;
}
div.skills ul{
    width: 300px;
}
div.skills ul li{
    display: inline-block;
    margin: 10px;
    background-color: var(--cor1);
    color: var(--cor4);
    font-weight: lighter;
    padding: 5px 13px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 3px var(--cor3);
}

/* Projetos */
div.project-home{
    padding-top: 9em;
    padding-bottom: 12em;
    background-color: var(--cor5);
}
div.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}
div.project p{
    width: 70%;
}
div.container-project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
}
div.description{
    margin: 40px;
    width: 300px;

}
div.container-project figure img{
    height: 170px;
    border: 1px dashed var(--cor3);
    border-radius: 2px;
}

div.description p{
    margin: 10px 0px;
}
div.description div.button-projetos{
    margin: 6px;
}
/* Contato */
div.container-contact{
    background-image: url(../img/background-white.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9em;
    flex-direction: column;
}
form.form-contact{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    background-color: var(--cor1);
    padding: 30px;
    border-radius: 10px;
}
form.form-contact input{
    border-radius: 5px;
    padding-left:20px ;
    margin-bottom: 20px;
    height: 40px;
    border: none;
   
}
form.form-contact label{
    font-size: 1em;
    margin-bottom: 5px;
}
form.form-contact textarea{
    border-radius: 5px;
    padding: 15px ;
    margin-bottom: 20px;
    height: 100px;
    border: none;
}
form.form-contact input[type=submit]{
    margin-top: 50px;
    text-align: center;
    color: var(--cor4);
    background-color: var(--cor2);
    height: 40px;
    width: 150px;
    padding: 1px;
    
}
/* Footer */

div.footer-home{
    background-color: var(--cor3);
    color: var(--cor5);
    display: flex;
    justify-content: space-around;
    padding: 90px;
}
div.footer-home h1{
    font-size: 20px;
}
div.footer-home p{
    margin: 15px 0px;
    font-size: 14px;
    width: 70%;
}
div.social h1{
    margin-bottom: 15px;
}
div.footer-home a{
    margin:0px 3px;
}
div.footer-home a img{
   height: 30px;
   width: 30px;
}
div.rodape{
    background-color: var(--cor3);
    color: var(--cor5);
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.rodape div.traco-rodape{
    border-top: thin solid white;
    width: 500px;
    margin-bottom: 40px;
}
div.rodape p{
    font-size: 12px;
}
div.rodape p a{
    color: var(--cor5);
}

/* responsividade */

@media (min-width:400px) and (max-width: 850px) {
    div.menu-bar{
        display: flex;
        margin: 0;
    }
    div.navegar{
       position: absolute;
       top: 85px;
       left: 0;
       right: 0;
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: var(--cor5);
       overflow: hidden;
       
        
    }
    div#menubar{
        transition: 0.3s;
    }
    div.redes-sociais{
        display: none;
    }
    div.inicio{
        width: 112%;
    }
    div.eu h1{
        font-size: 40px;
    }
    div.eu p{
        font-size: 15px;
    }
    div.about{
        width: 112%;
    }
    div.bio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.conhecer{
        text-align: center;
        width: 90%;
    }
    div.skills{
        margin: 80px 0px;
       
    }
    div.project-home{
        width: 112%;
    }
    div.container-project{
        flex-direction: column;
        gap: 0;
    }
    div.container-project img{
        height: 60px;
    }
    div.description{
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: justify;
    }
    div#contact{
        width: 39%;
    }
    
    div.footer-home{
        display: block;
        padding: 23px;
    }
}